* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.cardsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid red;
    width: 80%;
}

